# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Chrome debug profile (used by Selenium)
C:/Temp/ChromeDebug/

# Ignore the entire data folder (CSV, Excel files, etc.)
data/

# JetBrains IDE config
.idea/